* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
background-image: url("../image/nganatech.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin:0;
}

#singleProperty{
  
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 350px;
  display: block;
  justify-content: center;
}

.single-img-created{
  margin: 20px;
  border-radius: 5px;
}

.imgCreated{
  width: 150px;
  width: 100px;
}